.cocaraousel{
    margin: 2rem 0;
    position: relative;
}
.cocaraouseltitle{
    text-align: center;
    color: #fff;
    margin-bottom: 1rem;
}
.cocaraouseltitle::before{
    content: "";
    width: 45%;
    height: 2px;
    background-color: rgb(248,217,15);
    position: absolute;
    top:13px;
    left:0;
}
.cocaraouseltitle::after{
    content: "";
    width: 45%;
    height: 2px;
    background-color: rgb(248,217,15);
    position: absolute;
    top:13px;
    right:0;
}
.cocaraouselcontent{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    
}
.cocaraouselcontent .btn{
    width: auto;
    height: 153px;
}
.cocaraouselcontent .btn:hover{
    color: #000;
}
.cocaraouselcontent img{
    width: 204px;
    height: 153px;
}
@media screen and (max-width:600px) {
    .cocaraouselcontent img{
        width: 150px;
        height: 153px;
    }
    .cocaraouselcontent .btn{
        background-color: #fff;
        height: 153px;
    }
}